
{% load static %}
{% block content %}
<section class="whats-news-area pt-50 pb-20">
    <div class="container">
        <div class="row">
        <div class="col-lg-8">
            <div class="row d-flex justify-content-between">
                <div class="col-lg-12 col-md-12">
                    <div class="section-tittle mb-30">
                        <h3>AL-JAZEERA NEWS</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <!-- Nav Card -->
                    <div class="tab-content" id="nav-tabContent">
                        <!-- card one -->
                        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">           
                            <div class="whats-news-caption">
                                <div class="row">
                                    
                                
                                    
                                    {% for new, des, i in mylist %}
                                    <div class="col-lg-12 col-md-12">
                                        <div class="single-what-news mb-100">
                                            <div class="what-img">
                                                {% if item.cover_image %}
                                                    <img src="{{i}}" alt="">
                                                 {% endif %}
                                                </div>
                                            <div class="what-cap">
                                                <span class="color1">{{new}}</span>
                                                <h4><a href="{% url 'article-detail' item.pk %}">{{des}}
                                                    {{value | linebreaks}}</a></h4>
                                            </div>
                                        </div>
                                    </div>

                                    {% endfor %}


                                </div>
                            </div>
                        </div>
                        
                        
                    </div>
                <!-- End Nav Card -->
                </div>
            </div>
        </div>
        
        </div>
    </div>
</section>
{% endblock content %}