
{% load static %}
{% block content %}
<div class="weekly2-news-area  weekly2-pading gray-bg">
    <div class="container">
        <div class="weekly2-wrapper">
            <!-- section Tittle -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-tittle mb-30">
                        <h3>Weekly Top News</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="weekly2-news-active dot-style d-flex dot-style">
                        
                        {% for article in posts %}
                        <div class="weekly2-single">
                            <div class="weekly2-img">
                                {% if article.cover_image %}
                                <img src="{{MEDIA_URL}}{{article.cover_image.url}}" alt="">
                                {% endif %}
                            </div>
                            <div class="weekly2-caption">
                                <span class="color1">{{article.category}}</span>
                                <p>{{article.created_time}}</p>
                                <h4><a href="{% url 'article-detail' article.slug %}">{{article.cover_introduction|slice:":100"}}</a></h4>
                            </div>
                        </div>
                        {% endfor %}
                         
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}