{% load static %}
{% block content %}
<div class="weekly-news-area pt-50">
    <div class="container">
       <div class="weekly-wrapper">
            <!-- section Tittle -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-tittle mb-30">
                        <h3>Weekly Top News</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="weekly-news-active dot-style d-flex dot-style">
                       
                        
                        {% for content in weekly %}
                        <div class="weekly-single active">
                            <div class="weekly-img">
                                    <img src="{{ content.articles.cover_image.url }}" alt="" style="width: 360px; height: 420px;">
                            </div>
                            <div class="weekly-caption">
                                <span class="color1">{{ content.articles.category.name}}</span>
                                <h4><a href="#">{{ content.title }}</a></h4>
                            </div>
                        </div>
                        {% endfor %}
                        
                    </div>
                </div>
            </div>
       </div>
    </div>
</div> 
{% endblock content %}